<template name="ArmenianLiterature">
    {{#if currentUser}}
        <script>
                document.title="Armenian Literature";
        </script>
        <h3>{{_ "Armenian Literature"}}</h3>
        <hr>
        <a class="btn btn-primary" href='{{pathFor route="vahan-terian"}}'>{{_ "Vahan Terian"}}</a>
        <a class="btn btn-primary" href='{{pathFor route="hovhannes-tumanyan"}}'>{{_ "Hovhannes Tumanyan"}}</a>
        <a class="btn btn-primary">{{_ "Raffi"}}</a>
        <a class="btn btn-primary">{{_ "Gurgen Mahari"}}</a>
        <a class="btn btn-primary">{{_ "Hamo Sahyan"}}</a>
        <hr>
        <a href="{{pathFor route='learn'}}" class="btn btn-primary" style='float: right;' >{{_ "Back"}}</a>
    {{else}}
    <div class='loading-or-no-user'>
        <h3>...</h3>
    </div>
    {{/if}}
</template>