<template name="Media">
    {{#if currentUser}}
        <script>
            document.title="Media";
        </script>
        <div>
            <h3>{{_ "Library"}}</h3>
            <hr>    
            <a href="{{pathFor route='vahan-terian-lib'}}" class="btn btn-primary">{{_ "Vahan Terian"}}</a>
            <a href="{{pathFor route='hovhannes-tumanyan-lib'}}" class="btn btn-primary">{{_ "Hovhannes Tumanyan"}}</a>
        </div>
        <div>
            <h3>{{_ "Music"}}</h3>
            <hr>    
            <a href="{{pathFor route='arno-babajanian-music'}}" class="btn btn-primary">{{_ "Arno Babajanian"}}</a>
            <a href="{{pathFor route='aram-khachaturian-music'}}" class="btn btn-primary">{{_ "Aram Khachaturian"}}</a>
        </div>
        <div>
            <h3>{{_ "Gallery"}}</h3>
            <hr>    
            <a href="{{pathFor route='martiros-saryan-gal'}}" class="btn btn-primary">{{_ "Martiros Saryan"}}</a>
            <a href="{{pathFor route='hovhannes-aivazovsky-gal'}}" class="btn btn-primary">{{_ "Hovhannes Aivazovsky"}}</a>
        </div>
    {{else}}
    <div class='loading-or-no-user'>
        <h3>...</h3>
    </div>
    {{/if}}
        
</template>

