<template name="Home">
    {{#if currentUser}}
        <script>
            document.title="Feed";
        </script>
    
        {{ > Feed}}
    {{else}}
        <script>
            document.title="Home";
        </script>
        <div class="welcome-group">
            <div>
                <h2 style="display: inline-block;">{{_ "Welcome to"}} KidsUp!</h2>
            </div>
            <a href="{{pathFor route='register'}}" class="btn btn-primary">{{_ "Register"}}</a>
            <a href="{{pathFor route='login'}}" class="btn btn-primary">{{_ "Log In"}}</a>
            <br>
            <br>
            <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_ "-Language-"}}
                </button>
                <div style="text-align: center;" class="dropdown-menu">
                    <a class="dropdown-item arm-lang" style="color:#35215d !important" href="#">Armenian</a>
                    <a class="dropdown-item eng-lang" style="color:#35215d !important" href="#">English</a>
                </div>
            </div>
        </div>
    {{/if}}
</template>


<template name="Feed">
    {{#if currentUser}}
    
    {{#if noFeedItems}}
        <h2>{{_ "Welcome to"}} KidsUp! {{#each getUserEmail}} {{username}} {{/each}}</h2>
        <div class="feed-group">
            <p class='feed-group-item'><i>{{_ "Feed"}}</i> - {{_ "see your latest achievements"}}</p>
            <p class='feed-group-item'><i>{{_ "Learn"}}</i> - {{_ "learn about famous armenians"}}</p>
            <p class='feed-group-item'><i>{{_ "Quizzes"}}</i> - {{_ "challenge yourself and expand your knowledge"}}</p>
            <p class='feed-group-item'><i>{{_ "Library"}}</i> - {{_ "read famous writers' works"}}</p>
            <p class='feed-group-item'><i>{{_ "Take Notes"}}</i> - {{_ "write down anything important to remember to learn or play"}}</p>
        </div>    
    {{else}}
    <h3>{{_ "Your latest achievement!"}}</h3>
        {{#if getQuiz1FeedItems}}
            <hr>
            <h4>{{_ "Armenian Literature"}}</h4>
            <div class="feed-group">
                {{#each getQuiz1FeedItems}}
                <p class="feed-group-item">{{_ 'You scored'}} {{score}}/5 {{_ "points in 'Armenian Literature' quiz"}}, {{date}} </p>
                {{/each}}
            </div>
        {{/if}}
        {{#if getQuiz2FeedItems}}
            <hr>
            <h4>{{_ "Armenian Art"}}</h4>
            <div class="feed-group">
                {{#each getQuiz2FeedItems}}
                <p class="feed-group-item">{{_ 'You scored'}} {{score}}/5 {{_ "points in 'Armenian Art' quiz"}}, {{date}} </p>
                {{/each}}
            </div>
        {{/if}}
    {{/if}}

    <!-- <footer style='bottom: 0; position: fixed; right: 100px;'>

        <p>Copyright &copy; KidsUp! 2019 - 2020</p>
    </footer> -->
    {{/if}}
</template>