<template name="Main">
    <div style="position: relative;">
        
    {{ > Navigation }}
    {{ > yield }}
    
    
    <!-- {{#if currentUser}}
    <footer class="default-footer">
    <hr/>
    <p>Copyright &copy; KidsUp, 2019 - 2020.
        <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_ "Change the Language"}}
            </button>
            <div style="text-align: center;" class="dropdown-menu">
                <a class="dropdown-item arm-lang" style="color:#35215d !important" href="#">Armenian</a>
                <a class="dropdown-item eng-lang" style="color:#35215d !important" href="#">English</a>
            </div>
        </div>
    </p>
    </footer>


    {{else}}
    <footer class="welcome-footer">
    <p>Copyright &copy; KidsUp, 2019 - 2020.
        <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_ "Change the Language"}}
            </button>
            <div style="text-align: center;" class="dropdown-menu">
                <a class="dropdown-item arm-lang" style="color:#35215d !important" href="#">Armenian</a>
                <a class="dropdown-item eng-lang" style="color:#35215d !important" href="#">English</a>
            </div>
        </div>
    </p>
    </footer>

    {{/if}} -->
</div>


</template>