<template name="Navigation">
    {{#if currentUser}}
        <nav>
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="{{pathFor route='/'}}">{{_ "Feed"}}</a></li>
              <li class="nav-item"><a href="{{pathFor route='learn'}}">{{_ "Learn"}}</a></li>
              <li class="nav-item"><a href="{{pathFor route='quizzes'}}">{{_ "Quizzes"}}</a></li>
              <li class="nav-item"><a href="{{pathFor route='media'}}">{{_ "Media"}}</a></li>
              <li class="nav-item"><a href="{{pathFor route='take-notes'}}">{{_ "Take Notes"}}</a></li>
              <li class="nav-item">
                <div>
                    <button style="margin-top: 7px;" class="btn btn-primary nav-item" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{_ "Language"}}
                    </button>
                    <div style="text-align: center;" class="dropdown-menu">
                        <a class="dropdown-item arm-lang" style="color:#35215d !important" href="#">{{_ "Armenian"}}</a>
                        <a class="dropdown-item eng-lang" style="color:#35215d !important" href="#">{{_ "English"}}</a>
                    </div>
                </div>
              </li>
              <li class="nav-item float-right nav-bar-reglog-item" name="logoutButton"><a href="{{pathFor route='/'}}">{{_ "Log Out"}}</a></li>            
            </ul>
        </nav>
    {{/if}}
</template>