<template name="Learn">
    {{#if currentUser}}
        <script>
            document.title="Learn";
        </script>
        <h3>{{_ "Learn"}}</h3>
        <hr>
        <a href="{{pathFor route='armenian-art'}}" class="btn btn-primary">{{_ "Armenian Art"}}</a>
        <a href="{{pathFor route='armenian-literature'}}" class="btn btn-primary">{{_ "Armenian Literature"}}</a>
        <a href="{{pathFor route='armenian-music'}}" class="btn btn-primary">{{_ "Armenian Music"}}</a>
    {{else}}
    <div class='loading-or-no-user'>
        <h3>...</h3>
    </div>
    {{/if}}
   
</template>